<!DOCTYPE html>
<html>
<head>
    <title>Excel文件管理</title>
    {% include 'system/common/header.html' %}
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <table id="dataTable" lay-filter="dataTable"></table>
    </div>
    <div class="layui-card-body">
        <div class="layui-btn-group">
            <button type="button" class="layui-btn layui-btn-normal layui-btn-sm" id="consistency-check">
                <i class="layui-icon">&#xe615;</i> 检查文件一致性
            </button>
            <button type="button" class="layui-btn layui-btn-warm layui-btn-sm" id="repair-inconsistencies">
                <i class="layui-icon">&#xe640;</i> 修复不一致项
            </button>
        </div>
    </div>
</div>


<script type="text/html" id="toolbar">
    {% if authorize("system:excel:add") %}
        <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="add">
            <i class="layui-icon layui-icon-add-1"></i>
            上传Excel
        </button>
    {% endif %}
    {% if authorize("system:excel:delete") %}
        <button class="layui-btn layui-btn-sm" lay-event="batchRemove">
            <i class="layui-icon layui-icon-delete"></i>
            批量删除
        </button>
    {% endif %}
</script>

<script type="text/html" id="excel-bar">
    {% if authorize("system:excel:delete") %}
        <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="remove"><i
                class="layui-icon layui-icon-delete"></i>删除</button>
    {% endif %}
    {% if authorize("system:excel:download") %}
        <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="download"><i
                class="layui-icon layui-icon-download"></i>下载</button>
    {% endif %}
</script>

{% include 'system/common/footer.html' %}
<script src="{{ url_for('static', filename='js/excel-excel.js') }}"></script>
</body>
</html>