<!DOCTYPE html>
<html lang="en">
<head>
    <title>任务计划</title>
    {% include 'system/common/header.html' %}
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item" style="margin-bottom: unset;">
                <label class="layui-form-label">模板名称</label>
                <div class="layui-input-inline">
                        <input type="text" name="template_name" placeholder="" class="layui-input">
                </div>
                <label class="layui-form-label">任务名称</label>
                <div class="layui-input-inline">
                        <input type="text" name="task_name" placeholder="" class="layui-input">
                </div>
                <button class="layui-btn layui-btn-md" lay-submit lay-filter="task-query">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="layui-btn layui-btn-primary layui-btn-md">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="task-table" lay-filter="task-table"></table>
    </div>
</div>
</body>
{% include 'system/common/footer.html' %}
<script type="text/html" id="task-toolbar">
    {% if authorize("mission:task:add") %}
        <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="add">
            <i class="pear-icon pear-icon-add"></i>
            新增
        </button>
    {% endif %}
    {% if authorize("mission:task:remove") %}
        <button class="layui-btn layui-btn-sm" lay-event="batchRemove">
            <i class="layui-icon layui-icon-delete"></i>
            删除
        </button>
    {% endif %}
</script>

<script type="text/html" id="task-bar">
    {% if authorize("mission:task:edit") %}
        <button class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit"><i
                class="layui-icon layui-icon-edit"> 编辑</i>
        </button>
    {% endif %}
    {% if authorize("mission:task:run") %}
        <button class="layui-btn layui-btn-warming layui-btn-xs" lay-event="run"><i
                class="layui-icon layui-icon-play"> 运行</i>
        </button>
    {% endif %}
    {% if authorize("mission:task:remove") %}
        <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="remove"><i
                class="layui-icon layui-icon-delete"> 删除</i>
        </button>
    {% endif %}
</script>

<script type="text/html" id="task-enable">
    {% if authorize("mission:task:remove") %}
    <input type="checkbox" name="enable" value="{{ "{{d.task_id}}" }}" lay-skin="switch" lay-text="启用|禁用"
           lay-filter="task-enable" {{ "{{# if(d.enable==1){ }} checked {{# } }}" }} >
    {% endif %}
</script>

<script src="{{ url_for('static', filename='js/task-main.js') }}"></script>
</html>