<!DOCTYPE html>
<html lang="en">
<head>
    <title>文件仓库</title>
    {% include 'system/common/header.html' %}
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item" style="margin-bottom: unset;">
                <div class="layui-inline" id="ID-laydate-range">
                    <label class="layui-form-label">创建时间</label>
                    <div class="layui-input-inline">
                        <input type="text" autocomplete="off" name="start_date" id="ID-laydate-start-date" class="layui-input" placeholder="开始日期">
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline">
                        <input type="text" autocomplete="off" name="end_date" id="ID-laydate-end-date" class="layui-input" placeholder="结束日期">
                    </div>
                </div>
                <label class="layui-form-label">文件名称</label>
                <div class="layui-input-inline">
                        <input type="text" name="file_name" placeholder="" class="layui-input">
                </div>
                <button class="layui-btn layui-btn-md" lay-submit lay-filter="file-query">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="layui-btn layui-btn-primary layui-btn-md">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="file-table" lay-filter="file-table"></table>
    </div>
</div>
{% include 'system/common/footer.html' %}
<script type="text/html" id="file-bar">
    {% if authorize("mission:file:download") %}
    <a class="layui-btn layui-btn-xs" lay-event="download">下载</a>
    {% endif %}
</script>
<script src="{{ url_for('static', filename='js/file-main.js') }}"></script>
</body>
</html>